*.swp
*.swo
*.un~
calibre/.config/calibre/conversion/
calibre/.config/calibre/dynamic.pickle
calibre/.config/calibre/fonts/
calibre/.config/calibre/gui.json
calibre/.config/calibre/gui.py
calibre/.config/calibre/iterator.pickle
calibre/.config/calibre/metadata_sources/
calibre/.config/calibre/mtp_devices.json
calibre/.config/calibre/tweaks.py
calibre/.config/calibre/viewer.json
fish/.config/fish/fish_vi_key_bindings.fish
ncmpcpp/.ncmpcpp/error.log
ranger/.config/ranger/bookmarks
ranger/.config/ranger/history
ranger/.config/ranger/tagged
vim/.vim/.netrwhist
vim/.vim/init.vim
vim/.vim/plugged/
weechat/.weechat/irc.conf
xmonad/.xmonad/xmonad-x86_64-linux
xmonad/.xmonad/xmonad.errors
xmonad/.xmonad/xmonad.hi
xmonad/.xmonad/xmonad.o
