#!/bin/sh

# keybindings
xbindkeys &

# set background
feh --bg-fill /tmp/wallpaper.jpg

# get rid of beeping
xset b off

# touchpad stuff 
synclient HorizEdgeScroll=1
synclient VertEdgeScroll=1
synclient TapButton1=1

# cursor for xmonad
xsetroot -cursor_name left_ptr

# numlock on
#numlockx &

# compositor for transparency (urxvt)
xcompmgr &

# merge resources file (for things like terminal colors)
[[ -f ~/.Xresources ]] && xrdb -merge ~/.Xresources

# system tray
trayer --edge top --align right --SetDockType true --SetPartialStrut true --expand true --width 8 --height 18 --transparent true --alpha 26 --tint 0x000000 &

# auto-mounting
udiskie -2 --tray &

# screen locking
light-locker &
#light-locker --lock-after-screensaver 10 &
#xautolock -time 15 -locker slimlock &

# notification manager
dunst &

# skyped starts skype (used for bitlbee)
#skyped &
skype &

#dropboxd &

checkgmail -no_cookies &

# pulse doesn't initiate correctly if X starts it automatically
pulseaudio --start
sleep 5
pasystray &

# MPD daemon start
mpd &

# launch window manager
#exec xmonad
