Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

URxvt.depth: 32
URxvt.background: [90]#000000
URxvt.foreground: [100]#FFFFFF
URxvt.font: xft:DejaVu Sans Mono:pixelsize=11:antialias=true:hinting=true
URxvt.boldfont: xft:DejaVu Sans Mono:pixelsize=11:antialias=true:hinting=true
!URxvt.font: xft:Dina:pixelsize=11
!URxvt.font: xft:Terminus:pixelsize=12
!URxvt.font: xft:Inconsolata:pixelsize=12
URxvt.scrollBar_right:false
URxvt.scrollBar:false
URxvt.cursorBlink: 1
!URxvt.cursorUnderline: 1


!!black
!URxvt*color0 :            #222222
!URxvt*color8 :            #454545
!!red
!URxvt*color1 :            #CC0014
!URxvt*color9 :            #FA8072
!!green
!URxvt*color2 :            #556B2F
!URxvt*color10:            #9ACD32
!!yellow
!URxvt*color3 :            #B8860B
!URxvt*color11:            #DAA520
!!blue
!URxvt*color4 :            #355C9A
!URxvt*color12:            #45A3E6
!!magenta
!URxvt*color5 :            #9932CC
!URxvt*color13:            #DA70D6
!!cyan
!URxvt*color6 :            #258F8F
!URxvt*color14:            #60C6C8
!!white
!URxvt*color7 :            #C0C0C0
!URxvt*color15:            #FFFFFF


URxvt.colorIT:      #87af5f
URxvt.colorBD:      #d7d7d7
URxvt.colorUL:      #87afd7



!black
URxvt.color0:  #000000
URxvt.color8:  #8B8BAB
!red
URxvt.color1:  #D55362
URxvt.color9:  #E7717F
!green
URxvt.color2:  #0A8F77
URxvt.color10: #35C3A9
!yellow
URxvt.color3:  #C06F04
URxvt.color11: #E79C39
!blue
URxvt.color4:  #35629F
URxvt.color12: #4E87D2
!magenta
URxvt.color5:  #665F72
URxvt.color13: #9E9D9F
!cyan
URxvt.color6:  #0F9FCC
URxvt.color14: #61D0F3
!white
URxvt.color7:  #AAAABB
URxvt.color15: #DDDDFF
