Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

URxvt.depth: 32
URxvt.background: [90]#000000
URxvt.foreground: [100]#FFFFFF
URxvt.font: xft:DejaVu Sans Mono:pixelsize=11:antialias=true:hinting=true
URxvt.boldfont: xft:DejaVu Sans Mono:pixelsize=11:antialias=true:hinting=true
!URxvt.font: xft:Dina:pixelsize=11
!URxvt.font: xft:Terminus:pixelsize=12
!URxvt.font: xft:Inconsolata:pixelsize=12
URxvt.scrollBar_right:false
URxvt.scrollBar:false
URxvt.cursorBlink: 1
!URxvt.cursorUnderline: 1

URxvt.colorIT:      #87af5f
URxvt.colorBD:      #d7d7d7
URxvt.colorUL:      #87afd7

!black
URxvt.color0:  #000000
URxvt.color8:  #8B8BAB
!red
URxvt.color1:  #D55362
URxvt.color9:  #E7717F
!green
URxvt.color2:  #0A8F77
URxvt.color10: #35C3A9
!yellow
URxvt.color3:  #C06F04
URxvt.color11: #E79C39
!blue
URxvt.color4:  #35629F
URxvt.color12: #4E87D2
!magenta
URxvt.color5:  #665F72
URxvt.color13: #9E9D9F
!cyan
URxvt.color6:  #0F9FCC
URxvt.color14: #61D0F3
!white
URxvt.color7:  #AAAABB
URxvt.color15: #DDDDFF

rofi.background: #073642
rofi.foreground: #eee8d5
rofi.highlightbg: #b58900
rofi.highlightfg: #ffffff
rofi.bordercolor: #678698
rofi.padding: 1
rofi.lines: 10
rofi.borderwidth: 1
rofi.opacity: 60
rofi.font: DejaVu Sans Mono 11
rofi.location: 7
rofi.yoffset: 0
rofi.xoffset: 0
rofi.width: 100
rofi.fixed_num_lines: 1
rofi.hmode: false
rofi.terminal: st
rofi.ssh-set-title: false
